html {
    font-size: $font-size;
}

body {
    font-size: $font-size;
    font-family: $font-main;
}

a {
    color: $color-primary;

    &:hover {
        text-decoration: none;
        color: $color-accent;
    }
}

h1 {
    margin: -7.5px 0 45px;
    font-family: "PT Serif", serif;

    &:after {
        position: absolute;
        width: 100%;
        margin: 0.85em 0 0 15px;
        content: "";
        border-bottom: 3px solid rgba(240, 173, 79, 0.7);
    }

    @include xs-min {
        font-size: 3rem;
    }
    @include xs {
        font-size: 2rem;
    }
}

section {
    position: relative;
    overflow: hidden;
}